@import '../../styles/modules';

.header {
  left: 0;
  position: fixed;
  top: 0;
  transition: all 0.2s;
  width: 100%;
  z-index: 10;

  &--scrolled {
    background-color: #fff;
    box-shadow: 0 4px 40px rgba(0, 0, 0, 0.07);

    @supports (backdrop-filter: blur(30px)) {
      backdrop-filter: blur(30px);
      background-color: rgba($color: #fff, $alpha: 0.5);
    }
  }

  &--menu-opened {
    background-color: #fff;
    @include media-breakpoint-up('lg') {
      background-color: transparent;
    }
  }

  &__inner {
    align-items: center;
    display: flex;
    // width: 100%;
    // max-width: $container-max-width;
    height: $mobile-navbar-height;
    justify-content: space-between;
    // padding: 0 $container-padding;
    margin: 0 auto;
    transition: all 0.2s;

    @include media-breakpoint-up('md') {
      // padding-left: $container-padding-desktop;
      // padding-right: $container-padding-desktop;
    }

    @include media-breakpoint-up('lg') {
      height: $desktop-navbar-height;
    }
  }

  &--scrolled &__inner {
    height: calc(#{$mobile-navbar-height} - 10px);

    @include media-breakpoint-up('lg') {
      height: calc(#{$desktop-navbar-height} - 20px);
    }
  }

  &--scrolled.header--menu-opened &__inner {
    height: $mobile-navbar-height;

    @include media-breakpoint-up('lg') {
      height: $desktop-navbar-height;
    }
  }

  &__logo {
    align-items: center;
    display: inline-flex;
    height: 16px;
    position: relative;
    width: 74px;

    @include media-breakpoint-up('lg') {
      height: 24px;
      width: 110px;
    }
  }

  &__button {
    align-items: flex-end;
    background-color: transparent;
    border: initial;
    display: inline-flex;
    flex-direction: column;
    margin-right: -10px;
    padding: 10px;
    transition: all 0.4s;

    > span {
      background-color: $color-dark;
      display: inline-block;
      height: 2px;
      transition: all 0.2s;
      width: 22px;

      &:not(:first-child) {
        margin-top: 5px;
      }

      &:last-child {
        transition: all 0s;
        width: 11px;
      }
    }
  }

  &--menu-opened &__button {
    margin-top: 7px;

    > span {
      &:nth-child(1) {
        transform: rotate(45deg);
      }

      &:nth-child(2) {
        margin-top: -2px;
        transform: rotate(-45deg);
      }

      &:nth-child(3) {
        opacity: 0;
        visibility: hidden;
      }
    }
  }

  &__nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__nav-item {
    display: inline-flex;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  &__nav-link {
    border-bottom: 1px solid transparent;
    font-size: 18px;
    transition: all 0.2s;

    &,
    &:link {
      color: $color-dark;
      text-decoration: none;
    }

    &--active,
    &:hover {
      border-color: $color-dark;
      color: $color-dark;
    }
  }

  &__mobile-menu {
    height: 0;
    opacity: 0;
    overflow: hidden;
    padding: 0 $container-padding;
    transition: all 0.2s, height 0.4s;
    visibility: hidden;
  }

  &--menu-opened &__mobile-menu {
    height: calc(100vh - #{$mobile-navbar-height});
    opacity: 1;
    visibility: visible;

    @include media-breakpoint-up('lg') {
      display: none;
    }
  }

  &__mobile-nav-list {
    list-style: none;
    margin: 0;
    padding: 20px 0 0;
  }

  &__mobile-nav-item {
    &:first-child > a {
      border-top: 1px solid $color-nav-border;
    }
  }

  &__mobile-nav-link {
    border-bottom: 1px solid $color-nav-border;
    display: block;
    padding: 20px 0;

    &,
    &:link {
      color: $color-dark;
      text-decoration: none;
    }

    &:hover {
      color: $color-dark;
    }
  }

  &__social-nav {
    margin-top: 40px;
  }

  &__social-nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__social-nav-item {
    display: inline;

    &:not(:last-child) {
      margin-right: 15px;
    }
  }

  &__social-nav-link {
    align-items: center;
    background-color: $color-dark;
    border-radius: 15px;
    display: inline-flex;
    height: 30px;
    justify-content: center;
    width: 30px;
  }
}
