@import '../../styles/modules';

.service-card {
  align-items: center;
  border-radius: $default-border-radius;
  box-shadow: $default-box-shadow;
  display: flex;
  flex-direction: column;
  padding: 20px 15px 15px;
  text-align: center;

  @include media-breakpoint-up('md') {
    margin: 0 10px;
    padding: 30px 30px 25px;
  }

  &__img-container {
    @include media-breakpoint-up('md') {
      left: 0;
      position: absolute;
      top: -15px;
    }
  }

  &__img {
    height: 40px;
    position: relative;
    width: 40px;

    @include media-breakpoint-up('md') {
      height: 60px;
      // position: absolute;
      // top: -15px;
      // left: 0;
      width: 60px;
    }
  }

  &__title {
    align-items: center;
    color: $color-dark-teal;
    display: flex;
    font-size: 14px;
    font-weight: 500;
    height: 52px;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 10px;
    width: 100%;

    @include media-breakpoint-up('md') {
      font-size: 18px;
      margin-bottom: 5px;
      margin-top: 0;
    }
  }

  &__expert-title {
    color: $color-light-teal;
    display: none;
    font-size: 14px;

    @include media-breakpoint-up('md') {
      display: block;
      margin-bottom: 10px;
    }
  }

  &__expert-images {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin-left: 10px;
  }

  &__expert-img {
    border-radius: 15px;
    display: inline-block;
    height: 30px;
    margin-left: -10px;
    overflow: hidden;
    position: relative;
    width: 30px;

    @include media-breakpoint-up('md') {
      height: 40px;
      width: 40px;
    }
  }

  &__expert-names {
    color: $color-gray-teal;
    font-size: 14px;
    margin-top: 10px;
  }
}
