@import '../../styles/modules';

.button-primary {
  background-color: $color-dark;
  border-radius: 70px;
  color: #fff;
  font-size: 18px;
  padding: 10px 37px 13px;

  &,
  &:link {
    text-decoration: none;
  }

  &:hover {
    border-color: $color-dark;
    color: #fff;
  }
}
