@import '../../styles/modules';

.features {
  // background: $gradient-fade, $gradient-footer;
  background: $gradient-footer;
  display: flex;
  flex-direction: column;
  padding: 40px 0;
  position: relative;

  @include media-breakpoint-up('xl') {
    padding: 140px 0 100px;
  }

  &::before {
    background: $gradient-fade;
    content: '';
    display: block;
    height: 350px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;

    @include media-breakpoint-up('lg') {
      height: 400px;
    }
  }

  &__item {
    display: flex;
  }

  &__item-icon-area {
    display: flex;
    flex-shrink: 0;
    font-size: 30px;
  }

  &__item-text-area {
    display: flex;
    flex-direction: column;
    margin-left: 15px;

    @include media-breakpoint-up('xl') {
      margin-left: 20px;
    }
  }

  &__item-title {
    font-size: 18px;
    font-weight: 600;

    @include media-breakpoint-up('xl') {
      font-size: 21px;
    }
  }

  &__item-text {
    font-size: 14px;
    font-weight: 300;
    margin-top: 15px;
    padding-right: 40px;

    @include media-breakpoint-up('xl') {
      font-size: 16px;
      margin-top: 20px;
      padding-right: 25px;
    }
  }

  &__email-area-container {
    // display: flex;
    // flex-direction: column;
    margin-top: 30px;

    // @include media-breakpoint-up('lg') {
    //   flex-direction: row;
    //   justify-content: space-between;
    // }

    @include media-breakpoint-up('xl') {
      margin-top: 0;
    }
  }

  &__email-title {
    font-size: 22px;
    font-weight: 500;

    @include media-breakpoint-up('lg') {
      font-size: 34px;
    }
  }

  &__email-form {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-top: 25px;

    @include media-breakpoint-up('md') {
      margin-top: 10px;
    }
  }

  &__email-input {
    border: 1px solid transparent;
    border-radius: 15px;
    font-size: 18px;
    font-weight: 400;
    max-width: 350px;
    padding: 11px 17px 12px;
    transition: all 0.2s;
    width: 100%;

    @include media-breakpoint-up('lg') {
      max-width: 560px;
      padding: 16px 29px;
    }

    &:focus {
      border-color: $color-dark;
      outline: none;
    }

    &::placeholder {
      opacity: 0.5;
    }

    &:input-placeholder {
      opacity: 0.5;
    }
  }

  &__email-checkbox-area {
    margin-top: 15px;

    @include media-breakpoint-up('lg') {
      margin-top: 30px;
      order: 3;
    }
  }

  &__email-checkbox {
    display: none;
    // visibility: hidden;
    // opacity: 0;
    // height: 0;
  }

  &__email-checkbox-label {
    align-items: center;
    display: flex;
    font-size: 12px;
    margin: 0;

    @include media-breakpoint-up('lg') {
      font-size: 16px;
    }

    &::before {
      background-color: #fff;
      background-image: url("data:image/svg+xml,%3Csvg width='14' height='11' viewBox='0 0 14 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.6047 2.00048C14.0625 1.54295 14.0625 0.800915 13.6047 0.343151C13.1472 -0.114384 12.4052 -0.114384 11.9474 0.343151L4.91432 7.37646L2.00043 4.46257C1.54289 4.0048 0.800857 4.0048 0.343323 4.46257C-0.114441 4.9201 -0.114441 5.66214 0.343323 6.11967L4.08577 9.86235C4.54353 10.3199 5.28534 10.3199 5.7431 9.86235L13.6047 2.00048Z' fill='%230C0D0F'/%3E%3C/svg%3E%0A");
      background-position: bottom left;
      background-repeat: no-repeat;
      background-size: 0;
      border-radius: 5px;
      content: '';
      display: inline-block;
      height: 20px;
      margin-right: 10px;
      width: 20px;
    }
  }

  &__email-checkbox:checked ~ &__email-checkbox-label::before {
    background-position: center;
    background-size: 70%;
    transition: background-position 0.1s, background-size 0.2s;
  }

  &__email-submit {
    background-color: $color-dark;
    border: initial;
    border-radius: 30px;
    color: #fff;
    font-size: 18px;
    margin-top: 36px;
    padding: 12px 60px;

    @include media-breakpoint-up('lg') {
      margin-top: 40px;
      order: 4;
      padding: 16px 60px;
    }
  }

  &__email-terms-of-service {
    font-size: 12px;
    font-weight: 300;
    margin-top: 25px;

    @include media-breakpoint-up('lg') {
      font-size: 14px;
      margin-top: 20px;
      order: 2;
    }

    > a {
      color: inherit;
      text-decoration: underline;
    }
  }
}
