@import '../../styles/modules';

.layout {
  &__hero {
    padding: calc(40px + #{$mobile-navbar-height}) $container-padding 30px $container-padding;
    text-align: center;
    background: $gradient-hero;

    @include media-breakpoint-up('lg') {
      padding: calc(75px + #{$desktop-navbar-height}) $container-padding 50px $container-padding;
      background: $gradient-hero-desktop;
    }
  }

  &__hero-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.3;

    @include media-breakpoint-up('lg') {
      font-size: 64px;
      line-height: 1.2;
    }
  }

  &__hero-text {
    margin-top: 15px;
    margin-bottom: 0;
    font-weight: 300;

    @include media-breakpoint-up('lg') {
      font-size: 22px;
    }
  }
}
