// bootstrap overrides
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);

$container-max-widths: (
  sm: 616px,
  md: 808px,
  lg: 1032px,
  xl: 1240px,
  xxl: 1440px,
);

$grid-gutter-width: 20px;

$spacers: (
  6: 20px,
  7: 40px,
  8: 35px,
  9: 55px,
);

// sizes
$mobile-navbar-height: 70px;
$desktop-navbar-height: 100px;

$container-padding: 20px;
$container-padding-desktop: 30px;

$container-max-width: 1440px;

// colors
$color-background: #e5e5e5;
$color-dark: #0c0d0f;
$color-light-teal: #438ba3;
$color-dark-teal: #1e474f;
$color-gray-teal: #838d90;
$color-nav-border: rgba(#0f4552, 0.15);

// gradients
$gradient-hero: linear-gradient(109.34deg, #d8e9f5 21.91%, #f3edcf 68.4%, #fad3d0 101.59%);
$gradient-hero-desktop: linear-gradient(113.46deg, #d8e9f5 21.79%, #f4efd1 54.02%, #fad3d0 87.31%);

$gradient-fade: linear-gradient(180.09deg, #ffffff 0.08%, rgba(255, 255, 255, 0) 83.55%);
$gradient-fade-dekstop: linear-gradient(179.47deg, #ffffff 7.71%, rgba(255, 255, 255, 0.06) 41.34%);

$gradient-footer: linear-gradient(119.61deg, #d8e9f5 31.84%, #f3edcf 67.88%, #fad3d0 96.86%);

// border-radius
$default-border-radius: 10px;

// box-shadow
$default-box-shadow: 0px 10px 50px rgba(#000, 0.05);
