@import './vendor';
@import './fonts';

html,
body {
  font-family: CircularStd, sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
