@import './variables';
@import './vendor';

html,
body {
  color: $color-dark;
  font-family: CircularStd, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

.container-xxl {
  padding-left: $container-padding;
  padding-right: $container-padding;
}
